    {% extends 'base.html' %}

    {% load static %}

    {% block title %}Events{% endblock %}

    {% block content %}    
      <link rel="stylesheet" href="{% static 'events/style.css' %}">
            <h1 class="event-heading">Events</h1>
            {% if events %}
            <ul class="event-list">
                {% for event in events %}
                <li class="event-item" ><a href="/{{ event.id }}/">{{ event.title}}{% if event.date %} — {{ event.date }}{% endif %}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No current events found. Please check back later</p>
            {% endif %}
    {% endblock %}


