    {% extends 'base.html' %}

    {% load static %}

    {% block title %}Events{% endblock %}

    {% block content %}    
      <link rel="stylesheet" href="{% static 'events/style.css' %}">
         <div style="display: flex; justify-content: space-between; align-items: center;">
             <h2>Welcome, {{ user.name|default:user.username }}!</h2>
             <a href="{% url 'accounts:logout' %}" style="color: red;">Logout</a>
         </div>

          <hr>

         {% if no_events %}
        <p>No events available at the moment.</p>
       {% else %}
        <h3>Available Events</h3>
        <ul>
            {% for event in events %}
                <li>
                    <strong>{{ event.title }}</strong> - {{ event.date }}
                    <form method="post" action="{% url 'events:register' event.id %}">
                        {% csrf_token %}
                        <button type="submit">Register</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <hr>
    <h3>Your Registered Events</h3>
            {% if user_registrations %}
                <ul>
                    {% for reg in user_registrations %}
                        <li>{{ reg.event.title }} ({{ reg.event.date }})</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You haven’t registered for any events yet.</p>
            {% endif %}
    {% endblock %}

