{% extends 'base.html'%}
    {% block title %}Create Event{% endblock %}

    {% block content %}
        <h1>Create a New Event</h1>
        <form method="post">
            {% csrf_token %}
            <label for="title">Event Title:</label>
            <input type="text" id="name" name="title" required><br><br>
            <label for="description">Event Description:</label>
            <textarea id="description" name="description" required></textarea><br><br>
            <label for="location">Event Location:</label>
            <input type="text" id="location" name="location" required><br><br>
            <label for="date">Event Date:</label>
            <input type="date" id="date" name="date"><br><br>

            <input type="submit" value="Create Event">
        </form>
    {% endblock %}